/* Dashboard CSS */

/* General styles for the dashboard */
.dashboard-container {
    background: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
    text-align: center;
  }
  
  /* Sidebar styles */
  .sidebar {
    position: absolute;
    width: 132px;
    height: 853.12px;
    left: 32.34px;
    top: 24.02px;
  }
  
  .sidebar-blur {
    position: absolute;
    width: 81.01px;
    height: 804px;
    left: 83.32px;
    top: 73.14px;
    background: #0C0B0B;
    opacity: 0.7;
    filter: blur(30px);
    border-radius: 24px;
  }
  
  .sidebar-main {
    position: absolute;
    width: 132px;
    height: 852px;
    left: 32.34px;
    top: 24.02px;
    background: #0C0B0B;
    border-radius: 24px;
  }
  
  .sidebar-logo {
    position: absolute;
    width: 47px;
    height: 102px;
    left: 74.46px;
    top: 39.67px;
    font-family: 'Baloo Bhai';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 102px;
    color: #FFFFFF;
  }
  
  .sidebar-icon {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 85.15px;
  }
  
  .sidebar-icon.icon-home {
    width: 26px;
    height: 26px;
    background-image: url('/assets/home-icon-vector.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .icon-graduation {
    top: 32.84%;
  }
  
  .icon-user {
    top: 42.46%;
  }
  
  .icon-message {
    top: 52.44%;
  }
  
  .icon-settings {
    top: 62.11%;
  }
  
  .icon-logout {
    top: 89.95%;
  }
  
  .icon-background {
    background: #FFFFFF;
  }
  